.playButton {
    background: #f2cb40;
    color: #2e2f2f;
}

.viewButton {
    background: #f2cb40;
    color: #2e2f2f;
    font-size: 10px;
}

.sequencerButtonsWrappers button {
    height: 4vh;
    width: max-content;
    margin: 1% 1% 2% 1%;
    font-weight: 800;
}

.inputWrapper {
    display: flex;
    justify-content: center;
    gap: 1%;
    margin: 2%;
}

.textInput {
    border-radius: 9px;
    background: none;
    border-style: solid;
    color: white;
}

.submit {
    background: #f2cb40;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    font-weight: 700;
    color: #2e2f2f;
}
