.tableWrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    background: #00000099;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.Table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    background: rgb(165 106 106);
    margin-top: 8%;
    border-radius: 5px;
    border-collapse: collapse;
    padding-bottom: 15px;
}

td,
th {
    padding: 8px;
}

td {
    text-align: center;
}
